*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    height: 100vh;
    scroll-margin-bottom: 5vh;
}
/* * Navegador */
nav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: black;
    height: 5vh;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
}
nav ul li a::after{
    content: '';
    background-color: white;
    height: 1px;
    width: 0%;
    display: block;
    transition: width 1s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a.active::after{
    width: 100%;
}
nav img{
    height: 4vh;
    filter: invert();
}
nav ul{
    display: flex;
    width: 60%;
    justify-content: space-between;
    list-style: none;
}
nav ul a{
    color: white;
    text-decoration: none;
}
nav.fixed{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 9;
}
/* * Área Conteúdo */
#apresentacao{
    display: flex;
    padding-top: 5vh;
    align-items: center;
    justify-content: space-around;
}
#apresentacao #apresentacao-texto{
    text-align: justify;
    width: 500px;
    min-width: 500px;
}
#apresentacao #apresentacao-texto h1{
    margin-bottom: 8px;
}
#apresentacao  #apresentacao-texto h2, #apresentacao  #apresentacao-texto p{
    margin-bottom: 16px;
}
#apresentacao #apresentacao-texto h1{
    font-size: 2em;
}
#apresentacao #apresentacao-texto h2{
    font-size: 1.5em;
}
#apresentacao #apresentacao-texto p{
    line-height: 1.5em;
}
#apresentacao #photo{
    height: 450px;
}
#apresentacao #apresentacao-texto #redes ul{
    display: flex;
    gap: 5%;
    list-style: none;
}
#apresentacao #apresentacao-texto #redes ul a{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.5em;
    color: white;
    background-color: black;
}
#apresentacao #apresentacao-texto #redes ul a img{
    filter: invert();
}
/* * Área Sobre Mim */
#sobre{
    background-image: url('../img/escola.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#sobre-img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
}
#sobre-texto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 80%;
    background-color: white;
}
#sobre-texto img{
    margin: 0 3em;
}
#sobre-texto #texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    padding: 0 50px;
}
#sobre-texto #texto h2{
    margin-bottom: 0.5em;
}
#sobre-texto #texto h1{
    margin-top: 16px;
}
#sobre-texto #texto p{
    line-height: 1.6em;
}
#sobre-texto #texto ul li{
    margin-left: 1em;
    line-height: 1.6em;
}
#sobre-texto #texto p:not(last-child), #sobre-texto #texto h1{
    margin-bottom: 16px;
}
/* * Área Recursos */
#recursos{
    background-color: red;
}
/* * Área Escola */
#escola{
    background-color: green;
}
/* * Área Projetos */
#projetos{
    background-color: yellow;
}
/* * Área Contato */
#contato{
    background-color: orange;
    height: 100px;
}
/* ! Área compartilhamento */
/* .share-container{
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
}
.share-container .button, .soc-but{
    width: 3rem;
    height: 3rem;
}
.share-container .button{
    background: #042037;
    position: relative;
    perspective: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}
.share-container .button:hover .tw{
    transform: rotateY(-180deg);
}
.share-container .button:hover .gp{
    transform: rotateX(180deg);
}
.share-container .button:hover .vk{
    transform: rotateX(-180deg);
}
.share-container .soc-but{
    position: absolute;
    transition: transform 0.4s ease;
    transform-style: preserve-3d;
}
.share-container .back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
.share-container .vk .back, .share-container .gp .back{
    transform: rotateX(180deg);
}
.share-container .tw .back{
    transform: rotateY(180deg);
}
.share-container .vk .back{
    background: black;
}
.share-container .tw .back{
    background: rgb(0, 119, 181);
}
.share-container .gp .back{
    background: linear-gradient(60deg , rgb(81, 91, 212), rgb(129, 52, 175)40%, rgb(221, 42, 123)65%, rgb(254, 218, 119), rgb(245, 133, 41));
}
.share-container .vk{
    transform-origin: 0% 0%;
}
.share-container .gp, .share-container .tw{
    transform-origin: 100% 100%;
}
.share-container .tw{
    transition-delay: 0.1s;
    transform: rotateY(-90deg);
}
.share-container .gp{
    transition-delay: 0.2s;
    transform: rotateX(90deg);
}
.share-container .vk{
    transform: rotateX(-90deg);
}
.share-container.open .tw{
    transform: rotateY(-180deg);
}
.share-container.open .gp{
    transform: rotateX(180deg);
}
.share-container.open .vk{
    transform: rotateX(-180deg);
} */