*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    transition: 1s;
    overflow-x: hidden;
    background-image: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body.no-scroll {
    overflow: hidden; /* Desativa a rolagem do corpo */
}
.container{
    height: 100vh;
    scroll-margin-bottom: 5vh;
}
/* * Navegador */
nav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: black;
    height: 5vh;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
}
nav #abrir-menu{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
}
/* nav #abrir-menu img{
    height: 20px;
}
nav ul.show{
    display: flex;
} */
nav ul{
    display: flex; /* none */
    width: 60%;
    justify-content: space-evenly;
    list-style: none;
}
nav ul a{
    color: white;
    text-decoration: none;
}
nav ul li a::after{
    content: '';
    background-color: white;
    height: 1px;
    width: 0%;
    display: block;
    transition: width 1s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a.active::after{
    width: 100%;
}
nav img{
    height: 4vh;
    filter: invert();
}
nav input[type="checkbox"]{
    appearance: none;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 3em;
    height: 1.5em;
    background-color: black;
    border-radius: 100px;
    transition: .2s;
}
nav input[type="checkbox"]::after{
    position: relative;
    left: 2px;
    content: "";
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: white;
    transition: .2s;
}
nav input[type="checkbox"]:checked{
    border: 1px solid black;
    background-color: white;
}
nav input[type="checkbox"]:checked:after{
    background-color: black;
    transform: translate(114%);
}
nav.fixed{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 9;
}
nav.fixed input[type="checkbox"]{
    border: 1px solid white;
    background-color: black;
}
nav.fixed input[type="checkbox"]::after{
    background-color: white;
}
nav.fixed input[type="checkbox"]:checked{
    border: 1px solid black;
    background-color: white;
}
nav.fixed input[type="checkbox"]:checked::after{
    background-color: black;
}
/* * Área Conteúdo */
#apresentacao{
    display: flex;
    padding-top: 5vh;
    align-items: center;
    justify-content: space-around;
}
#apresentacao #apresentacao-texto{
    text-align: justify;
    width: 50%;
    min-width: 500px;
}
#apresentacao #apresentacao-texto h1{
    margin-bottom: 8px;
}
#apresentacao  #apresentacao-texto h2, #apresentacao  #apresentacao-texto p{
    margin-bottom: 16px;
}
#apresentacao #apresentacao-texto h1{
    font-size: 2em;
}
#apresentacao #apresentacao-texto h2{
    font-size: 1.5em;
}
#apresentacao #apresentacao-texto p{
    line-height: 1.5em;
}
#apresentacao #photo{
    height: 450px;
}
#apresentacao #apresentacao-texto > a > button{
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bolder;
    border: 2px solid black;
    transition: all .2s;
}
#apresentacao #apresentacao-texto > a > button:hover{
    background-color: rgb(0, 0, 0, 0.35);
    transform: scale(.95);
}
/* * Área Sobre Mim */
#sobre{
    background-image: url('../img/escola.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#sobre-img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
}
#sobre-texto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 80%;
    background-color: white;
}
#sobre-texto img{
    margin: 0 3em;
    height: 250px;
}
#sobre-texto #texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background-color: black;
    color: white;
    height: 100%;
    font-size: 1.2vmax;
    padding: 0 50px;
}
#sobre-texto #texto h2{
    margin-bottom: 0.5em;
}
#sobre-texto #texto h1{
    margin-top: 16px;
}
#sobre-texto #texto p{
    line-height: 1.6em;
}
#sobre-texto #texto ul li{
    margin-left: 1em;
    line-height: 1.6em;
}
#sobre-texto #texto p:not(last-child), #sobre-texto #texto h1{
    margin-bottom: 16px;
}
/* * Área Habilidades */
#habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
#habilidades #recursos .card > img{
    height: 5em;
    filter: invert();
}
#habilidades #recursos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 740px;
    gap: 50px;
    margin: 0 50px;
}
#habilidades #recursos .card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px  0 0 ;
    height: 7em;
    width: 6em;
    gap: 1em;
    padding: 1em;
    transition: all .4s;
}
#habilidades #recursos .card:hover{
    transform: scale(1.06);
}
#habilidades #recursos .card::after{
    content: '';
    position: absolute;
    background-color: blue;
    bottom: 2px;
    width: 97%;
    height: 4%;
}
#habilidades #recursos .card:hover::after{
    bottom: 0;
    width: 100%;
    height: 5%;
}
#habilidades #recursos .card p{
    color: white;
}
/* * Área Escola */
#escola{
    display: flex;
    align-items: center;
}
#escola .escola{
    display: flex;
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 40%;
    font-size: 5em;
    text-decoration: none;
    background-size: auto;
    border-radius: 0 .5em .5em 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}
#escola .escola:last-child{
    border-radius: .5em 0 0 .5em;
}
#escola .escola:hover{
    width: 45%;
}
#escola .escola#segundo{
    background-image: url('../img/wallpaper02.jpg');
    left: 0;
}
#escola .escola#terceiro{
    background-image: url('../img/wallpaper01.jpg');
    right: 0;
}
/* * Área Contato */
#contato{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
#contato > h1{
    display: flex;
    align-items: center;
}
#contato .contact{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;
}
#contato .contact_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 2em;
    color: black;
    transition: all .3s;
}
#contato .contact_box:hover{
    transform: scale(1.1);
}
#contato .contact_box i{
    font-size: 3em;
    display: block;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(10, 10, 10);
    padding: .2em;
    border-radius: .5em;
}
#contato .contact_box > p{
    color: rgba(0, 0, 0, 0.7);
}
#contato > p{
    font-weight: bold;
}
/* Modo escuro site */
.dark{
    color: white;
    background-image: url('../img/background-removebg2.png');
}
.dark nav{
    background-color: white;
}
.dark nav ul a{
    color: black;
}
.dark nav ul li a::after{
    background-color: black;
}
.dark nav img{
    filter: none;
}
.dark nav.fixed{
    background-color: rgba(255, 255, 255, 0.3)
}
.dark #apresentacao #photo{
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
.dark #apresentacao #apresentacao-texto > a > button{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
    color: white;
}
.dark #apresentacao #apresentacao-texto > a > button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.dark #contato .contact_box > p{
    color: rgba(255, 255, 255, 0.7);
}

/* Responsividade */
@media screen and (max-width: 880px){
    #apresentacao{
        flex-direction: column-reverse;
        justify-content: start;
        gap: 15%;
        padding-top: 6vh;
    }
    #apresentacao #photo{
        width: 40%;
        min-width: 280px;
    }
    #escola{
        flex-direction: column;
        align-items: start;
        padding-top: 10vh;
        gap: 10vh;
    }
    #escola .escola:hover{
        width: 70%;
    }
    #escola .escola{
        position: relative;
        height: 35%;
        width: 50%;
    }
    #escola .escola#segundo, #escola .escola#terceiro{
        border-radius: 0 20% 20% 0;
    }
    #sobre-texto{
        flex-direction: column;
        height: 70%;
    }
    #sobre-texto img{
        height: 250px;
        margin: 20px;
    }
    #contato{
        justify-content: space-around;
    }
    #contato .contact{
        flex-wrap: wrap;
    }
    #contato .contact_box{
        gap: .5em;
    }
    
/* 
#escola{
    display: flex;
    align-items: center;
}
#escola .escola{
    display: flex;
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 40%;
    font-size: 5em;
    text-decoration: none;
    background-size: auto;
    border-radius: 0 .5em .5em 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}
#escola .escola:last-child{
    border-radius: .5em 0 0 .5em;
}
#escola .escola:hover{
    width: 45%;
}
#escola .escola#segundo{
    background-image: url('../img/wallpaper02.jpg');
    left: 0;
}
#escola .escola#terceiro{
    background-image: url('../img/wallpaper01.jpg');
    right: 0;
}
*/
}
@media screen and (min-width: 767px){

}
